# Object file
obj
bin
Library
.vs
/MessagePackAOT/Win32
/MessagePackAOT/Assembly-CSharp.csproj
/MessagePackAOT/MessagePack.Annotations.csproj
/MessagePackAOT/MessagePack.csproj
/MessagePackAOT/MessagePackAOT.sln
/Program/ReferenceAssembly
/MessagePackAOT/Assets/Plugins/Model.dll.meta
/MessagePackAOT/Assets/Plugins/Model.pdb
/MessagePackAOT/Assets/Plugins/Model.pdb.meta
/MessagePackAOT/Assets/Plugins/MsgDefine.dll
/MessagePackAOT/Assets/Plugins/MsgDefine.dll.meta
/MessagePackAOT/Assets/Plugins/MsgDefine.pdb
/MessagePackAOT/Assets/Plugins/ClientLib.dll
/MessagePackAOT/Assets/Plugins/ClientLib.dll.meta
/MessagePackAOT/Assets/Plugins/ClientLib.pdb
/MessagePackAOT/Assets/Plugins/ClientLib.pdb.meta
/MessagePackAOT/Assets/Plugins/CommonLib.dll
/MessagePackAOT/Assets/Plugins/CommonLib.dll.meta
/MessagePackAOT/Assets/Plugins/CommonLib.pdb
/MessagePackAOT/Assets/Plugins/CommonLib.pdb.meta
/MessagePackAOT/Assets/Plugins/KCP.dll
/MessagePackAOT/Assets/Plugins/KCP.dll.meta
/MessagePackAOT/Assets/Plugins/KCP.pdb
/MessagePackAOT/Assets/Plugins/KCP.pdb.meta
/MessagePackAOT/Assets/Plugins/Model.dll
